.contenedorConfirmPassword{
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contenedorRegistro.ConfirmPassword{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 300px;
    min-width: 300px;
}