.contenedorForgotPassword{
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container.mt-5{
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
    box-shadow: transparent 0px;
}

.contenedorRegistro.ForgotPassword{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 1200px;
    min-width: 700px;
}

.contenedorRegistro.ForgotPassword h3{
    width: auto;
    max-width: 1200px;
    min-width: 700px;   
}

.contenedorRegistro.ForgotPassword h3{
    width: auto;
    max-width: 1200px;
    min-width: 700px;   
}