.resend-container {
  padding: 20px;
  max-width: 100%;
  margin: auto;
}

.resend-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.mensaje-exito {
  color: green;
  margin-top: 10px;
}

.mensaje-error {
  color: red;
  margin-top: 10px;
}

/*****************************************/

.botones_resend{
    /*background-color: blueviolet;*/
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 20px;
    min-width: 100%;
    max-width: 100%;
    width: auto;
}

.botones_resend button{
    min-width: 300px;
    max-width: 300px;
    height: 50px;
    font-size: 20px;
}

.botones_resend button.btn-secondary{
    font-size: 20px;
}

.contenedorRegistro{
    width: 100%;
    max-width: 800px;
    min-width: 1000px;
 }

.contenedorRegistro>div{
    /*background-color: aqua;*/
    width: 90%;
}

@media screen and (max-width: 1200px) {
  /* Aquí van los estilos que se aplicarán a todos los dispositivos
     cuyo ancho sea 767px o menos, sin importar la orientación.
     Esto cubre la mayoría de los teléfonos en ambas orientaciones,
     así como tablets pequeñas en modo vertical. */

     .contenedorRegistro{
        width: 100%;
        max-width: 800px;
        min-width: 300px;
     }

     .botones_resend{
        /*background-color: blueviolet*/
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
        padding-bottom: 20px;
        min-width: 100%;
        flex-direction: column;
        align-items: center;
    }

     .botones_resend button{
        min-width: 100%;
        max-width: auto;
        height: 40px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .botones_resend button.btn-secondary{
        font-size: 18px;
    }



}
